* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 70% 18%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 41%,
      transparent 41%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 94%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 63%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 85%,
      transparent 85%,
      transparent 100%
    ),
    radial-gradient(
      circle at 5% 85%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 49% 93%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 37%,
      transparent 37%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(15, 5, 113), rgb(191, 90, 222));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fa-solid {
  font-size: 15em;
  color: #36024d;
}
.move-contaier {
  display: flex;
  gap: 2em;
}
.playerbox {
  background: transparent;
  border: none;
  cursor: pointer;
}
.playerbox:hover {
  text-shadow: 1px 2px 10px rgb(255, 255, 255);
}
.result-message-container {
  width: 340px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}
.result-score-container {
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
}
#res-para {
  font-size: 2em;
}
.reset-btn {
  padding: 10px;
}
#reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  padding-top: 7px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: #61008b;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

#reset-btn:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

#reset-btn svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

#reset-btn:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

#reset-btn:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

#reset-btn:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

@media (max-width: 600px) {
  .fa-solid {
    font-size: 9em;
  }
  .move-contaier {
    gap: 0;
  }
}
